<div class="container-fluid">
  <div class="container-fluid">
    <form #ngForm="ngForm">
      <div class="mb-3 row">
        <label for="inputName" class="col-4 col-form-label">NAME</label>
        <div class="col-8">
          <input type="text" class="form-control" name="inputName" [(ngModel)]="empl.name">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputName" class="col-4 col-form-label">ADDRESS</label>
        <div class="col-8">
          <input type="text" class="form-control" name="inputAddress" [(ngModel)]="empl.address">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputName" class="col-4 col-form-label">PHONE</label>
        <div class="col-8">
          <input type="text" class="form-control" name="inputPhone" [(ngModel)]="empl.phone">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputName" class="col-4 col-form-label">COUNTRY</label>
        <div class="col-8">
          <input type="text" class="form-control" name="inputCountry" [(ngModel)]="empl.country">
        </div>
      </div>

    <div class="mb-3 row">
      <div class="offset-sm-4 col-sm-8">
        <button type="submit" class="btn btn-primary" (click)="AddEmployee(empl)">Submit</button>
      </div>
    </div>
  </form>
</div>
<br>

<div class="table-responsive-md">
  <table class="table table-striped-columns
  table-hover	
  table-borderless
  table-primary
  align-middle">
    <thead class="table-light">
      <tr>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>PHONE</th>
        <th>COUNTRY</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr class="table-primary" *ngFor="let ele of emp">
        <td scope="row">{{ele.name}}</td>
        <td>{{ele.address}}</td>
        <td>{{ele.phone}}</td>
        <td>{{ele.country}}</td>
        <td>
          <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalId" (click)="getCurrentEmployee(ele)">Edit</button>
          <button class="btn btn-warning" (click)="DeleteEmployee(ele.id)">Delete</button>
        </td>
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>




<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
 <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form #ngForm="ngForm" (ngSubmit)="UpdateEmployee()">
        <div>
          <label for="inputName" class="col-4 col-form-label">Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="currentData.name">
        </div>
        <div>
          <label for="inputName" class="col-4 col-form-label">Address</label>
          <input type="text" class="form-control" name="address" [(ngModel)]="currentData.address">
        </div>
        <div>
          <label for="inputName" class="col-4 col-form-label">Phone</label>
          <input type="text" class="form-control" name="phone" [(ngModel)]="currentData.phone">
        </div>
        <div>
          <label for="inputName" class="col-4 col-form-label">COUNTRY</label>
          <input type="text" class="form-control" name="country" [(ngModel)]="currentData.country">
        </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close it</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save it</button>
      </div>
    </form>
  </div>
    </div>
  </div>
</div> 


<!--  Place to the bottom of scripts -->
<script>
  const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)

</script>
<router-outlet></router-outlet>